@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Roboto", serif;
  font-weight: 400;
  margin: 0;
}

#header-placeholder,
#footer-placeholder {
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 21px 145px 8px 146px;
  box-sizing: border-box;
  background: linear-gradient(0.25turn, #343333, #484848, #282828);
  top: 0;
  left: 0;
  max-width: 100%;
  width: 100%;
  height: 80px;
}

header a {
  font-weight: 400;
  font-size: 24px;
  line-height: 28.13px;
}

nav {
  display: flex; /* Используем flex для nav */
  gap: 50px;
}

main {
  flex: 1;
  padding-top: 128px;
  padding-bottom: 139px;
}

footer {
  box-sizing: border-box;
  background: linear-gradient(0.25turn, #343333, #484848, #282828);
  color: #fffdfa;

  max-width: 100%;
  width: 100%;
}

footer p {
  color: #ffffff99;
  margin-bottom: 26px;
  margin-top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
}

footer .license {
  margin-top: 68px;
  margin-bottom: 0;
  padding-bottom: 30px;
  padding-left: 135px;
}

.footer-info {
  padding-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer .company {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

footer .company a {
  color: #ffffff99;
  font-size: 20px;
  line-height: 19px;
}

.footer-list-head {
  color: #e0a449;

  font-size: 20px;
  line-height: 18px;
  letter-spacing: 3px;
}

.company-links {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.social-links {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

a {
  color: #fffdfa;
  text-decoration: none;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-section h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 66.72px;
  letter-spacing: 0.03em;
  text-align: center;
}

.divider {
  width: 100%;
  max-width: 288px; /* Длина линии */
  height: 3px; /* Толщина линии */
  background-color: #f17900; /* Цвет */
  border: none;
  margin-top: 20px;
  margin-bottom: 61px;
}

.input-form {
  display: flex;
  flex-direction: column;

  gap: 27px;
  width: 311px;
}

.input-group {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input-group label {
  margin-bottom: 5px;
}

.input-group input {
  border: 2px solid #767676;
  border-radius: 4px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 12px;
  outline: none; /* Убираем стандартное выделение */
  transition: border-color 0.3s, background-color 0.3s;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.36px;
}

.input-group input:focus {
  border-color: #f17900;
}

.input-group:has(input:focus) label {
  color: #f17900;
}

.input-form button {
  background-color: #f17900;
  color: #ffffff;
  border: none;
  border-radius: 7px;
  width: 273px;
  height: 40px;
  margin: auto;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: block;
}

.error-icon {
  position: absolute; /* Position the icon */
  top: 50%; /* Vertically center */
  right: -25px; /* Adjust as needed */
  transform: translateY(-50%); /* Center using transform */
  display: none;
  width: 16px;
  height: 16px;
  margin-left: 5px;
}

.error-label {
  color: red;
}

.error-border {
  border-color: red !important;
}

/* Модальное окно */
.modal {
  font-family: "Nunito Sans", serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44.48px;
  color: #e0a449;
  letter-spacing: 0.03em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Затемнение фона */
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Контент модального окна */
.modal-content {
  width: 545px;
  height: 309px;
  background: #343333;
  text-align: center;
  position: relative;
  filter: none; /* Модальное окно не должно быть размытым */
}

#modal .modal-content p {
  margin: 89px 72px 88px 72px;
}

/* Кнопка закрытия модального окна */
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}

/* Когда модальное окно активно */
.modal.active {
  visibility: visible;
  opacity: 1;
}

/* Размытие всей страницы при активном модальном окне */
body.blur *:not(.modal, .modal *) {
  filter: blur(5px); /* Размыть все, кроме модального окна */
  pointer-events: none;
}
